<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-->imposta due logger livello Error e info<-->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="it.unical" level="INFO"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight([%thread]) %blue(%-5level) %magenta(%logger{36}) - %msg %n</Pattern>
        </encoder>
    </appender>

    <!-->livello + appender predefinito<-->
    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>







